body {
  background-color: #DAF0F7;
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  margin-top: 50px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  margin:1px;
  border-radius: 4px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
.Board {
  margin-left: 30px;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.tools {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


.tools-buttons button{
    margin-right: 4px;
} 

.tools-button{
  background: #007D75;
  border: 1px solid #999;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  margin:1px;
  margin-left: 5px;
  border-radius: 10px;
  
}
.dif-button{
  background: #e983a1;
  border: 1px solid #999;
  border-radius: 10px;

  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 60px;
  margin:1px;
  margin-left: 5px;
  
}
.menu-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Style for the Sudoku Game header name */
h1{
  font-family: 'Arial', sans-serif;
  font-size: 3rem;
  color: #007D75; /* Blue color, you can choose your preferred color */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

